<div class="moviebar d-flex  ps-5">
    <img src="../../assets/Images/bookmyshow-removebg-preview.png" alt="">
    <input class="form-control me-2 my-2 searchbar" type="search" placeholder=" Search for Movies">
</div>

<div class="recommendedMovies mt-2">
    <h4 >Recommended Movies</h4>
    <ul class="movies-list justify-content-center list-unstyled d-flex gap-4 ">
        <li class="flex-column" id="movieStore"><a href="/seat-booking-page" > <img src="../../assets/Images/GUARDIANS of the GALAXY.jpg"
                    alt="movie-1" ></a>
            <h6 class="pt-2 fw-bold" id="movie-1"> GUARDIANS of the GALAXY V-3</h6>
        </li>
        <li class="flex-column"><a href="/seat-booking-page"> <img src="../../assets/Images/PS-2.jpg" alt="movie-2"></a>
            <h6 class="pt-2 fw-bold" id="movie-2"> Ponniyin Selvin - Part 2</h6>
        </li>
        <li class="flex-column"><a href="/seat-booking-page"> <img src="../../assets/Images/THE KERALA STORY.jpg" alt="movie-3"></a>
            <h6 class="pt-2 fw-bold" id="movie-3"> THE KERALA STORY</h6>
        </li>
        <li class="flex-column"><a href="/seat-booking-page"><img src="../../assets/Images/X FAST.jpg" alt="movie-4"></a>
            <h6 class="pt-2 fw-bold" id="movie-4"> FAST X</h6>
        </li>
        <li class="flex-column"><a href="/seat-booking-page"> <img src="../../assets/Images/Evil Dead Rise.jpg" alt="movie-5"></a>
            <h6 class="pt-2 fw-bold" id="movie-5">Evil Dead Rise</h6>
        </li>
    </ul>
</div>

<footer>
    <img class="mt-2" src="../../assets/Images/footerlogo.png" alt="footerlogo" width="100%" height="220px">
</footer>